[2021-10-05 17:37] caguero commented on #367
This is the pull request that enabled reflections/refractions: https://github.com/osrf/vrx/pull/361/files

If this is the root of the problem we'll need a way to enable/disable it but for a quick test you can edit the `#ifdef`.

[2021-10-05 18:07] M1chaelM opened #372 "map ballshooter launch command to joystick button"
It would be convenient for testing to make it possible for someone using gamepad teleop to be able to fire the ballshooter by pressing a button on the gamepad. In the past we have done something similar on other projects.

[2021-10-05 18:08] M1chaelM commented on #372
@bsb808 Could you point us to an example of a project where we've done this before?

[2021-10-05 20:19] caguero opened #373 "Add the ability to configure the ball shooter"
In a similar way the teams can choose their sensor and thruster configurations, the teams should be able to specify where they want the ball shooter to be located in the WAM-V.

* [x] We'll need to update the submission wiki pages. See [phase 2](https://github.com/osrf/vrx/wiki/vrx_2022-phase2_dress_rehearsal) and [phase 3](https://github.com/osrf/vrx/wiki/vrx_2022-phase3_challenge) instructions.

[2021-10-07 15:49] ayarst opened #376 "Wamv sinks in Rviz despite valid GPS and IMU data"
No matter what I do, when I open up Rviz, my wamv slowly descends deeper and deeper into the ocean. The localization example does not help nor does implementing our own Kalman filter. After checking the sensor data, we found that the GPS is reporting an altitude of approximately 1.2m and the IMU is reporting a linear acceleration in the z of approximately 9.8m/s2, both of which make sense. The onl

[2021-10-10 12:51] JonathanWheare commented on #367
Hi everyone,

I believe I may have the same issue.  When running the VRX simulation on my laptop using the Sydney Regatta site, I had a real time factor of approximately 0.8, and the gzserver process was using around 130% CPU.  Deleting the sydneyregatta model brought performance back up to the expected level.
I found that disabling the collision tag for the Sydney Regatta model appeared to greatl

[2021-10-12 12:51] caguero opened #377 "Improved ball shooter model"
This version should allow changing the pitch without colliding with the WAM-V.

[2021-10-12 12:54] caguero commented on #367
As a workaround until we fix it properly, you can comment this block:

https://github.com/osrf/vrx/blob/master/vrx_gazebo/models/sydney_regatta/model.sdf#L104

[2021-10-15 14:55] bsb808 commented on #367
I believe we moved from g3.4xlarge to a g3.8xlarge for cloudsim.  I did a quick test of the VORC marina.launch scenario and it appears to have the same performance:
RTF ~ 1.0 and FPS ~ 11.0

I’ll try to look at it again today, but this may suggest that the extra cost isn’t resulting in better performance.

[2021-10-17 18:32] MustafaBayrak1 opened #381 "Registration Link Is Not Working"
Hello everyone! It seems like https://robotx.org/programs/vrx-competition-2022/ page is updated and a registration link is added. However, it's not working properly. Pardon me if here is not the proper place to report a competition related issue and not a code related thing but here it goes.
![image](https://user-images.githubusercontent.com/43607777/137640107-89047c6e-ceef-4b84-a4df-6e9f6fbbc136.

[2021-10-17 18:47] bsb808 commented on #381
Hi @MustafaBayrak1 -  Unfortunately, we do not have access to the RobotX web interface.  I'll send a not to the RoboNation folks, but I recommend posting your issue to the RoboNation forum: https://robonationforum.vbulletin.net/forum/robotx/-2022-virtual-robotx-competition

[2021-10-18 15:18] #381 closed, assigned to nobody

[2021-10-19 13:30] #377 closed

[2021-10-19 16:37] tfoote commented on #365
Looking into this I can confirm that there's extra levels of indirection that are not necessary.

The top level launch files: https://github.com/osrf/vrx/blob/master/vrx_gazebo/launch/generate_worlds.launch and sets several arguments which are passed in as parameters to the script.

In the main for that script they use `rospy.get_param` to access the values. For example: https://github.com/osrf/vr

[2021-10-21 18:04] M1chaelM commented on #303
Resolved with #374

[2021-10-21 18:04] #303 closed

[2021-11-03 22:50] j-herman commented on #372
@M1chaelM
I've got a working version of this on branch jessica/ball_shooter_teleop, in case you want to try it.  I won't put in a pull request until after 1.5 is out of the way.
To test:
Run scan/dock/deliver task
`roslaunch vrx_gazebo scan_dock_deliver.launch`
Run teleop node
`roslaunch vrx_gazebo usv_joydrive.launch`
To confirm the ball shooter actually fires, listen on the appropriate topic
`ro

[2021-11-04 09:16] mzahana commented on #158
Hi @osrf-migration . I am trying to use vrx with PX4. Is there documentation on how to do that?
Thanks

[2021-11-04 16:00] scpeters commented on #158
`osrf-migration` is a bot that imported this issue from bitbucket, so you'll need to ask someone else. I don't know the answer to your question

[2021-11-06 18:37] Tinker-Twins opened #393 "Wiki Update: sand_island_tutorial"
[Run instructions](https://github.com/osrf/vrx/wiki/sand_island_tutorial#run-instructions) of the `sand_island_tutorial` seem outdated. Paticularly, the launch command to run the Sand Island example needs to be updated since the `sandisland.launch` file is no longer in the `vrx_gazebo` package, but instead in the `vrx_2019` package. The correct launch command (according to the updated repository s

[2021-11-06 22:44] caguero commented on #393
Thanks, I just updated the tutorial.

[2021-11-06 22:44] #393 closed

[2021-11-07 18:11] Tinker-Twins opened #395 "Wiki Update: acoustic_pinger_tutorial"
[Reading acoustic beacon messages](https://github.com/osrf/vrx/wiki/acoustic_pinger_tutorial#reading-acoustic-beacon-messages) section of the `acoustic_pinger_tutorial` seems outdated. Paticularly, the launch command to bring up the VRX 2019 simulation environment needs to be updated since the `vrx_2019.launch` file is no longer in the `vrx_gazebo` package, but instead in the `vrx_2019` package (w

[2021-11-08 16:35] Tinker-Twins commented on #395
In accordance with recent changes to pull request #394, the hint to comment/uncomment pinger coordinates (as mentioned in [earlier comment](https://github.com/osrf/vrx/issues/395#issue-1046813876)) is no longer required. However, the first launch command under section [Visualize sensor measurements in RViz](https://github.com/osrf/vrx/wiki/acoustic_pinger_tutorial#visualize-sensor-measurements-in-

[2021-11-08 16:37] caguero commented on #395
Thanks! The wiki has been updated.

[2021-11-08 16:38] caguero commented on #395
See https://github.com/osrf/vrx/pull/394

[2021-11-08 16:38] #395 closed

[2021-11-08 16:39] caguero commented on #376
I'm closing this issue as I'm unable to reproduce it but feel free to reopen if still persists providing extra information.

[2021-11-08 16:39] #376 closed

[2021-11-10 19:22] crvogt commented on #373
@caguero @M1chaelM  I was thinking of going through the tutorials and changing sensor references to component and adding a line introducing the "component" umbrella term. Do you have an opinion on this?

[2021-11-10 19:37] caguero commented on #373
It sounds like a good idea to me, especially because it might surprise previous users about the change. Thanks!

[2021-11-15 22:14] #372 closed

[2021-11-16 02:00] #373 closed

[2021-11-16 16:42] caguero commented on #340
Apparently it's possible to suppress the `tf` warnings via a ros parameter. I looked into the code to understand how that parameter was used and I realized that it wasn't fully propagated to all the places. I created a pull request upstream to fix it.

https://github.com/cra-ros-pkg/robot_localization/pull/705

It works for me locally adding this line to `localization_example.launch`.

[code]

I'l

[2021-11-16 17:14] ayarst commented on #376
@caguero, I think it was an issue with my navsat transform but it's fixed now.

[2021-11-16 17:39] caguero commented on #376
Good to know :)

[2021-11-16 19:14] Tinker-Twins opened #398 "Documentation Error: Thruster Configuration"
Section 3 of the [Tecnical Guide](https://robonation.org/app/uploads/sites/2/2021/09/VirtualRobotX2022_Technical-Guide_v1.0.pdf) elucidates the `Propulsion Configuration` (pages 2-3) wherein `Figure 2: Allowed Thruster Regions in WAM-V` and `Table 1: Dimensions of Bounding Boxes` do not seem to comply with each other.

Particularly, the bounding boxes shown in the figure have larger dimensions alo

[2021-11-17 18:46] bsb808 opened #399 "Wind parameter documentation"
I may be missing where this is, but in the Technical Guide we link to the [Theory of Operations wiki](https://github.com/osrf/vrx/wiki/vrx_theory).  In general, it would be better to use the OCEANS paper we wrote to document the underlying models used in the plugins.

Specifically, I don't see where the meaning of the wind plugin parameters is described, e.g.
[code]

[2021-11-18 08:01] JTDeve opened #401 "No tf_tree"
Hi,My environment is Ubuntu18 and Melodic ,I use tag 1.3.0
when i roslaunch vrx_gazebo vrx.launch,then rosrun rqt_tf_tree rqt_tf_tree show no tf data

[2021-11-18 08:36] JTDeve commented on #216
hi, can you help me ?
my environment is ubuntu18 and melodic,code is tag 1.3.0
I also show no tf data,where is "my_wamv_4.urdf",or how i can create this urdf?

[2021-11-18 16:25] caguero commented on #401
Hi, the `tf` tree is published when you launch:

[code]

[2021-11-18 16:26] caguero commented on #216
You should get the `tf` tree published by launching:

[code]

[2021-11-19 03:13] JTDeve commented on #401
@caguero It works,Thank you !!!

[2021-11-19 17:42] #401 closed

[2021-11-19 17:43] caguero commented on #216
I'm closing this one as I think this issue is fixed but let me know otherwise.

[2021-11-19 17:43] #216 closed

[2021-11-19 18:15] caguero commented on #398
This is the visualization of the allowed thruster areas with the current VRX parameters:

![thruster_bb](https://user-images.githubusercontent.com/1440739/142671402-66a0a6d5-fc18-48c9-b7e2-1fcecd11c2a2.png)

I'd say we shouldn't modify `x` and `y`. Maybe we could reduce `z` potentially.

[2021-11-19 22:01] Tinker-Twins commented on #398
Here's the exact image from the [documentation](https://robonation.org/app/uploads/sites/2/2021/09/VirtualRobotX2022_Technical-Guide_v1.0.pdf):

![Allowed Thruster Regions in WAM-V](https://user-images.githubusercontent.com/40835293/142686883-136b8c38-1dc6-454d-9a11-c8f6d8f822f4.jpg)

It seems that the bounding boxes in this figure are either outdated, or they are submerged and hence their portion

[2021-11-19 22:58] Tinker-Twins commented on #398
**How are the `Center` and `Size` parameters of the bounding boxes supposed to be interpreted?**

![Table](https://user-images.githubusercontent.com/40835293/142695348-82182b15-8794-4de0-8bb7-be91c7c2d230.png)

Consider the above table from page 3 of the [documentation](https://robonation.org/app/uploads/sites/2/2021/09/VirtualRobotX2022_Technical-Guide_v1.0.pdf). For example, for the `y` coordina

[2021-11-22 17:19] caguero commented on #398
Case 2 is the correct interpretation of the geometry of the bounding box. I don't think we need to double the values in all three dimensions, as the graphical representation looks correct to me. I see what you're saying about the `Front Left` and `Front Right` thrusters.

Would it be OK for you if we update the position of the front thrusters to `1.2 1 0 0 0 0` and `1.2 -1 0 0 0 0` respectively. T

[2021-11-22 17:54] caguero commented on #340
The [upstream patch](https://github.com/cra-ros-pkg/robot_localization/pull/705#issuecomment-971376750) has been merged. Now we need to suppress the warnings. See https://github.com/osrf/vrx/pull/402.

[2021-11-22 21:49] M1chaelM opened #403 "Make example worlds exactly match the generated files"
We now have yaml files in vrx-docker that create practice worlds that are equivalent to the hand-generated versions stored in the 2022_practice directory in vrx, but look a little different because of the way they are generated. Let's make them identical to avoid any confusion.

[2021-11-22 21:50] M1chaelM commented on #403
@caguero and @crvogt Could you review the plan above and make sure I'm not eliminating something we need?

[2021-11-22 22:24] M1chaelM commented on #399
@bsb808 I suspect this just hasn't been updated since 2019, so it still points to your old Theory of Operations document, which is linked from the Theory of Operations wiki page: https://github.com/bsb808/robotx_docs/blob/master/theoryofoperation/theory_of_operation.pdf

I think that document eventually became the paper and is now obsolete. If that's the case I can update the link to point at our

[2021-11-22 22:26] M1chaelM commented on #336
Closing because it seems the consensus is that this is a problem in Gazebo core that is unlikely to get fixed.

[2021-11-22 22:26] #336 closed

[2021-11-22 22:45] M1chaelM commented on #403
Apologies, I forgot we updated the component_config.yaml for both example teams in https://github.com/osrf/vrx-docker/pull/42. The updated examples are different enough that it seems to justify having two of them.

[2021-11-22 23:21] M1chaelM commented on #403
On further reflection, I don't think we need to cache the generated worlds in the vrx-docker repository since they are already in the vrx repository. So I will just update the vrx_2022 versions so they are exact matches.

[2021-11-23 04:05] Tinker-Twins commented on #398
Yes, updating pose of the `Front Left` and `Front Right` thrusters to `1.2 1 0 0 0 0` and `1.2 -1 0 0 0 0` respectively resolves the issue.

The updated `Center` and `Size` parameters for the truster configuration bounding boxes are as follows. The same have been verified in Gazebo.

| Thruster Name | Bounding Box Center (x y z R P Y) | Bounding Box Size (x y z) |
| -------------------- | --------

[2021-11-23 16:27] #288 closed

[2021-11-23 17:49] M1chaelM opened #406 "Test the Phase 1 submission instructions:"
https://github.com/osrf/vrx/wiki/vrx_2022-phase1_hello_world

It's not necessary to follow every link, but testing should also include looking at the Submission Process tutorial referenced at the bottom: https://github.com/osrf/vrx/wiki/submission_process

[2021-11-23 21:30] adthoms opened #407 "Minor bug in wamv_p3d.xacro"
in `vrx/wamv_gazebo/urdf/components/wamv_p3d.xacro`, line 7 should read:

[code]
instead of

[code]

when using this sensor with `vrx/wamv_gazebo/urdf/wamv_gazebo.urdf.xacro`, the following error is thrown:

[code]

[2021-11-25 08:17] Tinker-Twins commented on #398
Could we update pose of the `Front Left` and `Front Right` thrusters to `1.25 1 0 0 0 0` and `1.25 -1 0 0 0 0` respectively so that front and rear trusters could be placed equidistant (w.r.t. `x` axis) from the origin of WAM-V frame?

The updated `Center` and `Size` parameters for the truster configuration bounding boxes will be as follows. The same have been verified in Gazebo.

| Thruster Name |

[2021-11-25 14:40] caguero commented on #398
Sure, #405 has been updated.

[2021-11-25 15:14] caguero commented on #407
See #408 .

[2021-11-25 15:14] #407 closed

[2021-11-25 15:15] caguero commented on #403
See #404 .

[2021-11-25 15:15] #403 closed

[2021-11-25 21:35] #283 closed

[2021-11-27 15:47] ofirc opened #409 "VRX pinger launch failure on Ubuntu 18.04 on ROS melodic"
Hi,
I installed ROS melodic on Ubuntu 18.04 by following this guide:
http://wiki.ros.org/melodic/Installation/Ubuntu

And then used the following commands to build and launch VRX:
[code]

Now, the Gazebo window is opening and I see the ASV and everything, but the pinger doesn't launch correctly:
[code]

Any idea what's wrong?

BTW, I have rospkg installed:
[code]
so I either missed a step or somet

[2021-11-27 15:55] ofirc commented on #409
I was able to work-around it by hacking the launcher.py file:
`sudo vim /opt/ros/melodic/lib/python2.7/dist-packages/roslib/launcher.py`

and then adding:
[code]
But it's not a permanent solution :-)

Looking forward to hearing the root cause.

[2021-11-29 06:16] Tinker-Twins opened #410 "Documentation Update: Sensor Placement"
Section 4.4 of the [Tecnical Guide](https://robonation.org/app/uploads/sites/2/2021/09/VirtualRobotX2022_Technical-Guide_v1.0.pdf) elucidates the Sensor Placement (page 5) wherein the document depicts an image representing the allowed sensor regions in WAM-V. While this gives a general idea of the allowed sensor placement regions, it would be much better to incude a table describing the exact `Cen

[2021-11-29 20:23] j-herman commented on #406
Ran through the submission process.  If the pull request in the vrx-events repo contains what you are looking for, then the test was successful.  Two things that should be fixed:
The directory structure referenced in the submission process tutorial doesn't yet exist for 2022 and needs to be created.
The link to the VRX task description document goes to the documentation page, which does not contai

[2021-11-29 21:35] M1chaelM commented on #406
Thanks! Very helpful.

This is addressed with [PR 1 of that repository](https://github.com/osrf/vrx-events/pull/1) but it looks like we forgot to merge it. Hopefully we'll get this done today.

I updated the text and link to the task description document. Can you point me to the tech guide links you're thinking of?

[2021-11-29 21:56] j-herman commented on #406
All is good with your change, I think - I don't remember exactly where all the other links were coming from, but since they all pointed to the same documentation page they should all be fixed now.  New PR looks good and the example submissions will be helpful in clarifying expectations.  We can close this if you're ready.

[2021-11-29 21:56] M1chaelM commented on #406
@j-herman Both of the issues you raise above should now be addressed. I'm not seeing your PR in the vrx-events repo though. What was the PR #?

[2021-11-29 21:58] j-herman commented on #406
Whoops!  Forgot to click submit... you should see it now.

[2021-11-29 22:14] M1chaelM commented on #406
OK, thanks! I just reviewed it. The only thing I want to check on is the directory structure you used. See comments: https://github.com/osrf/vrx-events/pull/4#pullrequestreview-818364943

[2021-11-30 16:18] caguero commented on #410
Thanks for the suggestion! I've included a similar table in the 1.1 revision. It'll be available to download soon.

[2021-11-30 16:18] #410 closed

[2021-11-30 17:36] #340 closed

[2021-11-30 17:37] M1chaelM commented on #349
This appears to still be a problem. Need to investigate why.

[2021-11-30 23:20] M1chaelM commented on #406
Closing with close of PR: https://github.com/osrf/vrx-events/pull/4

[2021-11-30 23:20] #406 closed

[2021-12-03 16:33] caguero commented on #409
I'm sorry but we no longer support Ubuntu 18.04. See the [system requirements](https://github.com/osrf/vrx/wiki/system_requirements). I know this doesn't answer your question but I'd recommend to update to Ubuntu 20.04 and I guess you won't have this issue anymore.

[2021-12-03 16:33] #409 closed

[2021-12-03 21:24] ofirc commented on #409
Thanks @caguero good to know :-)

[2021-12-07 20:08] M1chaelM opened #412 "New / updated tutorials for 2022"
There are several tutorials needed for phases 2 and 3 that did not get updated in our first pass of tutorial updates. This purpose of this issue is to list them all in the same place.

* [x] [Phase 2 - Dress Rehearsal](https://github.com/osrf/vrx/wiki/vrx_2022-phase2_dress_rehearsal)
* [x] [Phase 2 Practice](https://github.com//osrf/vrx/wiki/vrx_2022-phase2_practice)
* [x] [Phase 3 - VRX Challenge

[2021-12-07 20:09] #398 closed

[2021-12-08 11:49] AntonBock opened #413 "Outdated wiki: changing_plugin_params_tutorial"
Hello

I am trying to add fog to my scene. According to [this tutorial](https://github.com/osrf/vrx/wiki/changing_plugin_params_tutorial), the file location for changing fog parameters is in `vrx_gazebo/worlds/sandisland.xacro`. However, i cannot find this file.

I don't know if I am missing something super obvious, or if a file location has changed since the last update of the wiki. Hope someone

[2021-12-08 11:55] AntonBock commented on #413
If anyone can point me in the correct direction of adding fog to a scene, that would be wonderful as well

[2021-12-09 19:06] M1chaelM commented on #413
You're right--thanks for pointing this out. I've updated the tutorial. The `sandisland.xacro` file has been moved to the `vrx_2019` package. The VRX 2022 environment uses `sydneyregatta.xacro` instead, so if you are working on VRX 2022 that is the one you want.

[2021-12-09 19:58] M1chaelM commented on #412
@caguero our [Phase 2 - Dress Rehearsal](https://github.com/osrf/vrx/wiki/vrx_2022-phase2_dress_rehearsal) says:

"For the evaluation of your Phase 2 submissions, the solutions will be run through each of these example worlds, along with some new configurations that are not released prior to the Phase 2 deadline."

Is this still correct?

[2021-12-09 20:44] M1chaelM commented on #412
The Phase 2 practice tutorial for 2019 was extremely long. To make it more manageable, I've separated it into a general opening and 6 subpages describing the tasks. I fixed up the opening but I could use help with the subpages, which are here:
* [ ] [Task 1: Stationkeeping Practice Worlds](https://github.com/osrf/vrx/wiki/vrx_2022-task1_practice.md)
* [ ] [Task 2: Wayfinding Practice Worlds](https

[2021-12-10 07:54] AntonBock commented on #413
No problem, thanks!

Can you elaborate on how specifically the fog is added? I have been through the documentation and the referenced files, and cannot figure it out.

[2021-12-12 21:15] M1chaelM commented on #413
Sure. I've made some additional updates to the tutorial to try to clarify the process: https://github.com/osrf/vrx/wiki/changing_visual_params_tutorial

Could you check whether this resolves the problem for you? If not, it would be helpful to know what you've tried and what the results are.

[2021-12-13 07:24] AntonBock commented on #413
Thank you! I was missing the `type` tag, adding this fixed it.

[2021-12-13 07:24] #413 closed

[2021-12-20 17:54] mikedef opened #414 "VRX_Gazebo scoring plugins error"
I am getting an error due to the following when building the code on an Ubuntu 20.04 laptop.
  fatal error: ignition/utilities/SuppressWarning.hh: No such file or directory
Is there any way around the error besides not building any of the scoring plugins?

[2021-12-20 19:03] caguero commented on #414
Hi @mikedef , could you confirm your OS, Gazebo and ROS versions?

[2021-12-20 20:24] mikedef commented on #414
Ubuntu 20.04, Gazebo 11, ROS noetic

[2021-12-23 17:27] FrancisGoncalves opened #415 "Issue loading VRX environment"
Hi, we are having some issues with some parts of the environment not loading properly. Some trees and other landscapes are not loading correctly.
Also, when visualizing the camera images, we noticed that the horizon becomes dark (sea, shore, buildings) and makes things difficult to recognize at a certain distance. ​​ ​​
Is anyone else facing these problems?

Thank you
![front_left_camera21](https:

[2021-12-30 20:34] j-herman commented on #363
I have a working version that allows you to specify relative motion in a line or in a circle via tags in the model.sdf - so we could have a North-South turtle, an East-West turtle, etc.  This is still a bit of a hack, but easier than having to modify the parameters each time.  Can put in a pull request if desired, or work on a better solution via xacro...?
There is new capability in SDF 1.7 that l

[2022-01-05 00:29] alexperez33 opened #417 "Generate wamv launch fix"
The file ```generate_wamv.launch``` has an arg called ```component_yaml```. The default value for this arg is ```$(find vrx_gazebo)/src/vrx_gazebo_python/generator_scripts/wamv_config/example_component_config.yaml```, which does not exist. It seems like this file may have been moved to ```$(find vrx_gazebo)/config/wamv_config/example_component_config.yaml```. The same goes for the ```thruster_yaml

[2022-01-07 18:14] M1chaelM commented on #415
@FrancisGoncalves Could you post your hardware configuration? It looks like there is a problem with the rendering, but we have not yet been able to reproduce it.

[2022-01-07 19:13] FrancisGoncalves commented on #415
@M1chaelM We are running Ubuntu 20.04 dual booted with windows.
We are using a Precision 7820 Tower with an Intel Xeon Platinum 8160 CPU.
We have NVIDIA Quadro P4000 graphics card and 192 GB of RAM.
We allocated only 40 GB of storage for Ubuntu.
Let me know if you need any other information.
Thank you

[2022-01-07 19:29] caguero commented on #415
Do you have the Nvidia drivers running?

[2022-01-07 20:28] FrancisGoncalves commented on #415
@caguero Thank you! We were using Nouveau display driver.
We have now changed to one of the eight NVIDIA drivers options. The environment now loads with no issues. However, we are getting a very low frame rate (around 3 fps), while previously we were getting 30 fps.
Is there a specific NVIDIA driver we should select?

[2022-01-07 21:23] M1chaelM commented on #414
Hi @mikedef . We have not able to reproduce this error. Are you building using the instructions given in the setup tutorial: https://github.com/osrf/vrx/wiki/system_setup_tutorials ?

If not, could you send the commands you're running?

[2022-01-07 21:27] caguero commented on #414
As a sanity check, could you also update the system doing:

[code]

[2022-01-11 20:40] colejames-wsu commented on #415
We have turned off UEFI secure boot option and the environment is now loading properly and running at 60 fps.
Thank you for your help.

[2022-01-12 19:05] caguero commented on #415
Good to know!

[2022-01-12 19:05] #415 closed

[2022-01-21 01:37] alexperez33 opened #418 "Sandisland Test does not link to the correct launch file path"
Within the ```vrx_gazebo``` package, there is a test that is failing because it cannot find the appropriate launch file. The path provided within this test leads to ```$(find vrx_gazebo)/launch/sandisland.launch```. This real location of this launch file has been moved to the ```vrx_2019/launch``` directory.

I am unsure if we would want to link it to the proper file path, or whether the test shou

[2022-01-21 17:37] mikedef commented on #414
It still does not work on my laptop. I did update and upgrade but it does not work. I did install it on my desktop and it works fine. So maybe something particular to my laptop. If this is not reproducible then I would close this issue. Thanks for the help!
Mike

[2022-01-21 17:37] #414 closed

[2022-01-25 01:08] alexperez33 opened #420 "Wildlife Encounter and Avoid Task does not provide correct spherical coordinates"
It appears the spherical coordinates provided by the wildlife encounter and avoid task topic ```/vrx/wildlife/animals/poses``` do not correspond with the locations of the actual animals. After some investigation, it appears that the poses provided in the ```wildlife_task.world.xacro``` file seem correct. But when converted to spherical coordinates in the ```SphericalFromLocal``` function within th

[2022-01-25 15:06] #417 closed

[2022-01-25 15:37] caguero commented on #418
Thanks for reporting it. See pull request #422

[2022-01-25 16:19] caguero commented on #327
Hi @boeun98 . I went ahead and modify `wave_gazebo/world_models/ocean_waves/model.xacro`. I changed the gain from `0.1` to `1`. Then, recompile and run it with `roslaunch vrx_gazebo vrx.launch` and Gazebo seems to run properly. I'm not sure what's your issue but I can't reproduce it.

[2022-01-26 21:22] alexperez33 opened #423 "Yaml Component Generation does not allow pinger placement"
Within ```wamv_gazebo.urdf.xacro``` there is an if statement that suggests if the ```yaml_component_generation``` arg is true, it will look at the user's component xacro file generated during compilation. Due to this, if you choose to use a component xacro file, you will have to decide the locations of the GPS, imu, lidar, cameras, P3D, ball shooter, and pinger (otherwise these sensors are not ins

[2022-01-29 03:08] francescofraternali opened #425 "Adding Radar Capabilities to the WAM-V"
Is it possible to add a radar to the current WAM-V system? It will be very useful to enhance the current capabilities of the simulator. Thank you very much in advance for your work and help, I really appreciate it.

[2022-01-31 17:31] M1chaelM commented on #412
Let's discuss this in our meeting on 2/1.

[2022-02-01 15:53] caguero commented on #425
Hi @francescofraternali . I agree that it would be a great addition but unfortunately is out of the scope of the project for now. We have never implemented a radar sensor in Gazebo or Ignition and I suspect isn't a trivial sensor. Please, feel free to add extra information if you know an existing open source implementation.

[2022-02-01 15:53] #425 closed

[2022-02-01 15:53] caguero commented on #423
See #424 .

[2022-02-01 15:53] #423 closed

[2022-02-02 16:53] andrew-aj opened #426 "Bearing calculation for acoustic pinger does not seem to be correct"
For the acoustic pinger the calculation for the bearing does not seem to be correct. For example, with a bearing value of 0.22 when we yaw our boat right 0.22 radians the new bearing value is 0.44 whereas it should be 0. It seems like the bearing calculation is reversed and is counter-clockwise when bearing normally is calculated with positive being clockwise.

[2022-02-08 14:08] #363 closed

[2022-02-13 22:41] j-herman commented on #420
Closing this issue based on merge of https://github.com/osrf/vrx/pull/428.  The topic is now publishing the correct lat/ long.

[2022-02-13 22:41] #420 closed

[2022-02-14 21:20] AlexWUrobot opened #430 "Cannot find the lidar sensor by rostopic echo, already enable sensor in wamv_gazebo.urdf.xacro and launch file"
We use the latest vrx model and find that the lidar sensor doesn't work, even though we enable lidar sensor in launch file or xacro file.
![image](https://user-images.githubusercontent.com/20432255/153948067-1c4b636d-059a-438f-b6fb-810b55ba99bd.png)

A similar issue happened in 2019. https://github.com/osrf/vrx/issues/160

[2022-02-21 14:48] ayarst commented on #430
I can confirm that I am having the same problem as @AlexWUrobot. I ran the exact same commands as you, @caguero :

roslaunch vrx_gazebo vrx.launch
roslaunch wamv_gazebo rviz_vrx.launch
rostopic echo /wamv/sensors/lidars/lidar_wamv/points

The last command returns:

WARNING: no messages received and simulated time is active.
Is /clock being published?

![image](https://user-images.githubusercontent

[2022-02-21 15:00] caguero commented on #430
Could you describe your installation please?

[2022-02-21 15:15] ayarst commented on #430
It is the master branch from 2 days ago

[2022-02-21 15:21] ayarst commented on #430
I also used the updated urdf generation with the components consisting of:

1 GPS
1 IMU
3 VLP-16 lidars
Thrusters in default configuration

When I run the command:

`roslaunch vrx_gazebo vrx.launch urdf:=/home/username/my_wamv/my_wamv.urdf`

I do not receive topics for the gps, imu, or lidar.

![image](https://user-images.githubusercontent.com/79225975/154983425-5e56a3b8-1910-4e24-aa63-4973c2f1a1f

[2022-02-21 15:52] ayarst commented on #430
That is strange because when I run:
[code]
It says that the type is **sensor_msgs/PointCloud2** just like it should be.

![image](https://user-images.githubusercontent.com/79225975/154988572-5865e120-e52f-4f61-937e-a1c7c2eb7a5b.png)

[2022-02-21 16:44] EdisonPricehan commented on #430
Make sure Velodyne 3d lidar ros simulator is installed on your computer: `sudo apt install ros-noetic-velodyne-simulator`

[2022-02-21 21:17] ayarst commented on #430
@EdisonPricehan that solved the lidar problem, but I'm still not receiving GPS or IMU data. Do those have similar dependencies?

[2022-02-21 22:17] caguero commented on #430
It should be `ros-noetic-hector-gazebo-plugins`.

[2022-02-21 22:38] ayarst commented on #430
@caguero thank you. Now everything works for me.

Are those package installs included in the VRX setup documentation? If so, I apologize for not conducting a thorough enough search. If not, they should be added to the documentation. Thanks again!

[2022-02-21 23:11] caguero commented on #430
They are :)
Checkout the dependencies detailed in `https://github.com/osrf/vrx/wiki/host_install_tutorial`.

[2022-02-22 16:13] caguero commented on #430
Please reopen if needed, it looks like this was a problem of not installing some of the dependencies.

[2022-02-22 16:13] #430 closed

[2022-02-22 16:14] caguero commented on #418
Fixed in #422 .

[2022-02-22 16:14] #418 closed

[2022-02-22 16:15] caguero commented on #327
Closing this issue due to lack of activity. Please reopen if needed proving extra information.

[2022-02-22 16:15] #327 closed

[2022-02-22 18:13] M1chaelM opened #431 "Some examples use wind parameters outside the specified envelope"
Our documentation specifies that the value of `wind_variance_time` should be between 2 and 20. However, we have some practice example worlds in which it is set to 1. This could be misleading, so we should update them so they are at least 2.

[2022-02-22 20:24] M1chaelM commented on #431
This is partially addressed by PR #432, but needs to also be addressed upstream in the yaml files in the `vrx-docker` repository.

[2022-02-23 01:00] QipiaoZhou opened #433 "vrx for melodic"
is there vrx software for ros-melodic?

[2022-02-23 01:07] crvogt commented on #433
Hi there, please see #318.

[2022-02-23 02:40] QipiaoZhou commented on #433
thank you for your time,i figure out the question by it.
thanks again!

[2022-02-24 01:32] #433 closed

[2022-03-02 08:39] Fran-FC opened #434 "Support for a single thruster and a rudder"
Hello, I am trying to implement a boat simulation with a single thruster and a rudder, I was wondering if it is possible to do it using this repo. As for what I've seen for now, the boat included in the repo uses two thrusters for the navigation.

[2022-03-02 15:46] bsb808 commented on #434
@Fran-FC
We don't have a platform in VRX that has fixed propeller and rudder.  Our main use-case is supporting the RobotX competition which uses a common platform with differential thrust.  There are many other parts of VRX that can be used, but you'd need either find or build a platform with the propulsion model you are considering.

You might look at the work by @srmainwaring  - they have done s

[2022-03-02 15:46] #434 closed

[2022-03-03 08:14] Fran-FC commented on #434
Thank you for your reply! I saw the usv_sim_lsa repo but it is broken and unmaintained, I will try to implement myself the controller for the platform and include it in the vrx world

[2022-03-04 06:27] M1chaelM opened #435 "`generate_worlds.launch` is broken again"
The `vrx-docker` README has instructions to generate practice worlds from `yaml` files: https://github.com/osrf/vrx-docker/blob/master/README.md#preparing-trials-for-a-task

These instructions current produce an error because the `prepare_task_trials.bash` script calls `generate_worlds.launch` which eventually generates a `xacro` file that references macros that `xacro` is unable to find. For exam

[2022-03-04 06:29] M1chaelM commented on #435
@caguero or @j-herman would you mind running through the instructions at https://github.com/osrf/vrx-docker/blob/master/README.md#preparing-trials-for-a-task to verify this is broken. The error message you should see is:
[code]

[2022-03-04 14:09] j-herman commented on #435
@M1chaelM I was seeing this error on Tuesday, but only sydneyregatta_minus_scene wasn't being found, which seemed even odder since it's in the same folder as others that weren't raising the error.  I tried everything I could think of to troubleshoot, with no success, and it suddenly started working again.  I'll dig back through the history to see if there's anything that might have triggered the c

[2022-03-04 17:36] j-herman commented on #435
The error is back on my system as well, but I can confirm one-time success since I have the three xacro and world files that were constructed from the new wildlife yaml.  I will document my troubleshooting steps in more detail this time, and hopefully if the error goes away again we'll have a better idea of where to look.

[2022-03-05 05:45] M1chaelM commented on #435
Thanks for confirming. I did try updating and rebooting just in case, but still no luck. I will investigate. I think this will require looking into `xacro` source code because the project documentation is poor.

[2022-03-07 01:19] j-herman commented on #435
Yes, after spending a few hours looking through the xacro documentation and source code, I think it's more surprising that it worked once than that it's broken.
Historical research shows that the fix which you thought had broken something last fall was somehow lost on a subsequent update, which may be why it all started working again that time.  The fix was re-fixed last month.
It will be easier t

[2022-03-07 06:04] M1chaelM commented on #435
I think we should file an issue against the xacro repo to at least get clarity on how it's supposed to work. I will do this. I'm not really sure whether our nested include strategy is supported or not.

[2022-03-14 14:34] alexperez33 opened #437 "Gymkhana 2022 practice worlds give different positions for stationkeeping and acoustic pinger plugins"
It seems that the world files for the gymkhana task give the stationkeeping plugin certain coordinates. However, the acoustic pinger plugin reads from a file called pinger.yaml to obtain certain coordinates that the acoustic pinger plugin converts to range, bearing, and elevation. While in the gymkhana.world.xacro file, the stationkeeping plugin goal coordinate corresponds with the value in the pi

[2022-03-15 18:34] caguero commented on #437
@alexperez33 , thanks for reporting this issue. Indeed, this seems like a bug. Could you verify the patch in #438 ?

[2022-03-15 19:44] alexperez33 commented on #437
I made a suggestion in #439, thanks for the quick fix!

[2022-03-18 18:11] j-herman commented on #431
@M1chaelM I have made updates to all the yamls in the phase2 repo - I can make the changes to these files now, or once we add the phase2 worlds as additional practice.

[2022-03-23 21:27] M1chaelM opened #440 "WAMV can move in the perception task trials"
When testing our example images on the perception task in PR #48 we found that the WAMV was not locked in the perception tasks and could respond to thrust commands. So it seems like the "locked" variable is either not set properly or is being ignored. It could be that this is a consequence of the way we are generating worlds from `yaml`.

[2022-03-23 21:42] M1chaelM commented on #440
This issue does not occur in the perception example. After running
[code]
the following commands have no effect:
[code]

[2022-03-23 23:07] M1chaelM commented on #440
This is also not a problem when using the example worlds following [the instructions here](https://github.com//osrf/vrx/wiki/vrx_2022-phase2_practice) in which we explicitly set the wamv_locked variable to true when we launch the trial.

So it could be that this problem is isolated to our competition testing apparatus. I see that the `run_vrx_trial.sh` script we call in the `vrx-docker` server is

[2022-03-24 15:58] #437 closed

[2022-03-25 15:28] maghauke opened #441 "Cmat not used?"
Why is the Cmat not used: https://github.com/osrf/vrx/blob/94385d0a800b5be7a2f29c664a1044ba4f243b2f/usv_gazebo_plugins/src/usv_gazebo_dynamics_plugin.cc#L257

and in total it seems like the simulation model for the wamv is not following this: https://github.com/bsb808/robotx_docs/blob/master/theoryofoperation/theory_of_operation.pdf

[2022-03-25 16:40] maghauke opened #442 "Ocean current?"
Hi, does the simulator simulate ocean current or is it only a visual effect that the water-surface moves if waves and wind are off?

[2022-03-26 16:51] M1chaelM commented on #440
@caguero Could you take a look? I may be missing something obvious.

[2022-03-29 14:13] caguero commented on #440
@M1chaelM , that's the issue, the parameter should be `wamv_locked`. Did you rebuild the server Docker image after fixing the parameter?

[2022-03-29 14:15] caguero commented on #442
We don't simulate ocean current. The wave direction is configurable, so I guess it would be cool to align it with the wind vector but out of scope in the short term unless someone volunteer. Thanks for the idea!

[2022-03-29 14:15] #442 closed

[2022-03-29 14:58] bsb808 commented on #442
Just a note for posterity on this issue.   It was a intentional not to include ocean current as an an external disturbance in the simulation.  The reason is that for vessels such as the WAM-V (vessels with small draft and large windage), wind is a much stronger influence than water current.  Having independent wind and wave disturbances provides a rich envelope for exercising motion control, so ad

[2022-03-29 15:08] caguero commented on #442
Thanks for the clarification Brian and in case I wasn't clear, I meant to align the visual aspect of the wave with the wind, so nothink should change from the control point of view, only adding some bling to the simulation :)

[2022-03-29 16:52] bsb808 opened #444 "Integrate VORC into VRX"
[VORC ](https://github.com/osrf/vorc) depends upon VRX.  For ease of maintenance, we are considering deprecating the VORC repository and moving the content into VRX.  To be done after VRX 2022.

[2022-03-31 21:27] M1chaelM commented on #431
@j-herman I think the `vrx-docker` side of this was addressed in https://github.com/osrf/vrx-docker/pull/44 so we may be able to close this now. Is there anything else to do?

[2022-03-31 21:30] #431 closed

[2022-04-01 00:02] alexperez33 opened #445 "Unable to release joints in "ready state" because they do not exist"
When running any of the tasks, I noticed that I would always get the error ```Unable to release [wamv_external_pivot_joint]``` and ```Unable to release [wamv_external_riser]```. I also noticed that my urdf of the boat does not have these joints, which is generated using the generate_wamv.launch script. This seems to cause the boat to not be locked in place during the initial state of a task. This

[2022-04-05 01:40] ashiriag opened #447 "GPS and IMU related rostopics not visible"
Following up from email conversation.
When running the simulation through `roslaunch vrx_gazebo vrx.launch` and then listing the rostopics, none of the gps and imu related topics are visible.

[2022-04-05 22:54] M1chaelM commented on #447
Hi, since this was working for you on a different system, it sounds like you may be missing a dependency. Let's check whether there are any hints in the terminal output. Could you run
[code]
and post the output here?

[2022-04-06 20:46] alexperez33 commented on #440
I am not sure if this issue is still here, but I think my issue #445 may be relevant.

[2022-04-06 22:29] M1chaelM commented on #445
@alexperez33 Could you please post the command you are using to run the tasks when you see this error?

[2022-04-06 23:08] acxz commented on #195
It may be a good idea to take a look at Gazebo's built in [WindPlugin](https://github.com/osrf/gazebo/blob/gazebo11/plugins/WindPlugin.cc): https://osrf-distributions.s3.amazonaws.com/gazebo/api/dev/classgazebo_1_1WindPlugin.html

and maybe utilize that directly instead of rolling our own. It may also be beneficial to upstream our wind computations to Gazebo.

[2022-04-06 23:15] alexperez33 commented on #445
@M1chaelM The error occurs whenever I launch ```vrx.launch``` using the urdf that was generated with the ```generate_wamv.launch``` script. This is due to the fact that the urdf that was generated with the ```generate_wamv.launch``` script does not contain the two joints specified above.

The script ```generate_wamv.launch``` does not allow us to send a parameter into the ```wamv_gazebo.urdf.xacro

[2022-04-06 23:16] acxz commented on #235
Here is the computation of the drag matrix:
https://github.com/osrf/vrx/blob/492a2a5438d513223ebff500edbcd9d6c76c0148/usv_gazebo_plugins/src/usv_gazebo_dynamics_plugin.cc#L260-L270

Currently the only way to specific the drag forces is with the linear and quad coeff terms. Anything more would involve changing the relevant drag computation code.

The drag *values* are velocity varying based on line

[2022-04-06 23:21] acxz commented on #128
Duplicate of #195 ?
in favor of closing this issue due to #195 having more discussion

[2022-04-07 06:18] ashiriag commented on #447
Thank you for this suggestion! By running that command I was able to see which ros dependency was missing and after installing it the issue is fixed. I had to run `sudo apt-get install ros-noetic-hector-gazebo-plugins`

[2022-04-07 06:18] #447 closed

[2022-04-07 18:30] M1chaelM commented on #445
@alexperez33 Thanks for these details, and the PR. I'm going to look into this today.

I believe the error you are describing should be produced by a scoring plugin if it attempts to release a wamv that is not locked. Launching `vrx.launch` by itself should not cause any scoring plugin to run because there is no task associated with it by default. Are you running something like:
[code]

[2022-04-07 18:34] alexperez33 commented on #445
I apologize, I forgot to mention that I am passing in a world as an argument. The error is produced by scoring_plugin.cc in the ```ReleaseVehicle``` function. It causes an error because it cannot find the joints.

[2022-04-07 23:42] M1chaelM commented on #445
Thanks @alexperez33 ! I was looking to see whether we might be able to get closer to the root of this problem. Since the need to lock and unlock the wamv is only relevant when the scoring plugin is running, it would be nice if the scoring plugins could manage both locking and unlocking, rather than depending on the wamv to be created a certain way. Unfortunately I think that is going to be too muc

[2022-04-08 00:10] alexperez33 commented on #445
Thanks! @M1chaelM. Sounds great!

[2022-04-09 21:21] M1chaelM commented on #440
Resolved (for now) with #446 and https://github.com/osrf/vrx-docker/pull/49

[2022-04-09 21:21] #440 closed

[2022-04-09 22:25] #445 closed

[2022-04-09 22:46] alexperez33 opened #451 "Placard subscriber seems to sometimes instantiate after new dock symbols are published"
This issue pertains to the Scan Dock and Deliver task.

I was not able to replicate this issue using only the vrx related launch files. However, when I launch my code alongside the vrx code, I noticed that sometimes the publisher within ```scan_dock_scoring_plugin.cc``` within the AnnounceSymbol function publishes the dock symbols before the subscriber within ```placard_plugin.cc``` is even instan

[2022-04-11 22:14] M1chaelM commented on #451
Resolved with #452

[2022-04-11 22:14] #451 closed

[2022-04-12 01:18] Tinker-Twins opened #454 "Dead light buoy and same dock placard symbols in scan-dock-deliver task"
Whenever I launch the `scan_dock_deliver.launch` file, in the Gazebo world that is brought up (screenshot attached herewith), the `light_buoy` is dead (i.e. it is pitch black and does not display any color sequence) and all the dock placard symbols are exactly the same (`blue_circles`). It is worth mentioning however, that sometimes (extremely rare cases) the light buoy and the dock placard symbol

[2022-04-12 19:27] charlestmontagnoli opened #457 "Scoring for Perception Task"
Hello,

When my team runs the perception task we are correctly identifying which buoy is where (left to right) but with some localization inaccuracy. We expect to incur 2m of error per buoy, and in fact the debug message that the perception_task publishes to the command window shows that.
I believe based on how the scoring reads, that if we get an error of 2 for each buoy, our overall score should

[2022-04-12 19:31] Tinker-Twins commented on #454
Another weird thing that I recently noticed regarding the aforementioned issue is that sometimes the WAM-V camera is able to view color sequence of the light buoy even though the light buoy appears to be dead in Gazebo window.

The dock placard symbols, on the other hand, are visible to the WAM-V camera exactly the same as they appear in the Gazebo window.

[2022-04-12 20:02] caguero commented on #454
I think this should be fixed in https://github.com/osrf/vrx/pull/452. Could you confirm?

[2022-04-12 21:33] Tinker-Twins commented on #454
Yes @caguero, https://github.com/osrf/vrx/pull/452 does fix this issue.

[2022-04-12 21:33] #454 closed

[2022-04-14 18:15] M1chaelM commented on #457
Hi,
Your description of the scoring is correct. If you correctly identify every buoy your final score should be less than or equal to 2 meters. We're looking into this to make sure that is correct, and we're trying to reproduce the issue you describe. Are you seeing this behavior every time you run the perception task? Or is it just on some trial worlds?

[2022-04-14 20:18] M1chaelM commented on #457
@charlestmontagnoli  Would it be possible to post the complete output you're seeing leading up to this score?

As far as I can tell, it looks like you are using a custom world, since the snippet you are showing doesn't match any of our practice worlds. Is that right?

The score you are showing would correspond to identifying 8 objects correctly (but with a large localization error) and getting 1 w

[2022-04-18 16:50] M1chaelM commented on #457
Pasting from a 4/15/2022 email from @charlestmontagnoli:

[2022-04-18 17:07] M1chaelM commented on #457
I think I have managed to reproduce this (with some variation). Below is output from running

[code]
and waiting for the whole task to run through:
[code]

[2022-04-18 17:29] M1chaelM commented on #457
I can also confirm the score shown in the `INFO` message after each loop is identical to the published score. From the output of `rostopic echo /vrx/task/info` the scores reported over the course of the demo are
[code]

[2022-04-18 17:36] M1chaelM commented on #457
The problem seems to be caused by a special condition in the `perception_task.world.xacro`. We're setting a parameter that causes one trial to repeatedly loop until the world times out (see the `loop_forever` parameter):
[code]
However, the plugin doesn't handle this case correctly. It just carries the score from the last loop over to the next loop. The good news is that we never do this in the ac

[2022-04-18 17:40] M1chaelM commented on #457
## Options:
1. Get rid of the `loop_forever` option and just fully specify the course.
2. Reset the score to 0 between loops.
3. Make the scoring plugin smarter by tracking the total number of objects and total score separately, so we can correctly score multiple trials.

My favorite is option 1, since this parameter seems like much more trouble than it's worth for a demo. @caguero what do you thi

[2022-04-25 03:51] Tinker-Twins opened #458 "Wiki Error: vrx_2022 phase3_results"
## Inconsistency in [Ranking by Task Table](https://github.com/osrf/vrx/wiki/vrx_2022-phase3_results#ranking-by-task)

The [Ranking by Task Table for VRX 2022 Phase 3](https://github.com/osrf/vrx/wiki/vrx_2022-phase3_results#ranking-by-task) currently mentions some integral ranks with a `.0` decimal place, which is unnecessary and also inconsistent as compared with the [Ranking by Task Table for V

[2022-04-25 07:30] bao666liang opened #459 "CMake error"
CMake_errror  :  in  vrx/vrx_gazebo/msgs/CMakelists.txt:

 Import target "dart" includes non-existent path

 "/include" in its INTERFACE_INCLUDE_DIRECTORIES.

[2022-05-01 00:55] Tinker-Twins commented on #458
Just observed that major flaw in the [Scoring Summary Table](https://github.com/osrf/vrx/wiki/vrx_2022-phase3_results#scoring-summary) has been rectified, so closing this issue.

[2022-05-01 00:55] #458 closed

[2022-05-10 16:40] acxz opened #460 "Duplicate Buoyancy Code and computing buoyancy twice"
It seems that buoyancy is calculated in two different places.
One method is located at [`/usv_gazebo_plugins/src/usv_gazebo_dynamics_plugin.cc#L291-L358`](https://github.com/osrf/vrx/blob/3408b8bbe3d794dbcdee14241dea57d9f8307f6d/usv_gazebo_plugins/src/usv_gazebo_dynamics_plugin.cc#L291-L358).

I believe this is run at every timestep as the USVDyanmicsPlugin is loaded in automatically (i think).

T

[2022-05-10 21:51] acxz opened #461 "Publish computed hydrodynamic forces"
In https://github.com/osrf/vrx/blob/master/usv_gazebo_plugins/src/usv_gazebo_dynamics_plugin.cc many kinds of hydrodynamic forces are computed such as drag, added mass, buoyancy (hydrostatic), etc. It would nice if these forces could be provided to the user for debugging purposes.

UUV simulator does this via a debug flag and storing the components of the cumulative hydrodynamic forces in a vector

[2022-05-13 08:37] Orca-bit opened #462 "gazebo crashed when launch vrx.launch"
[code]
gazebo version 11.10

[2022-05-13 08:52] #462 closed

[2022-05-14 06:45] #459 closed

[2022-05-14 06:51] bao666liang opened #463 "/wamv/sensors/lidars/lidar_wamv/points not echo"
rostopic echo /wamv/sensors/lidars/lidar_wamv/points

WARNING: no messages received and simulated time is active.
Is /clock being published?

[2022-05-14 09:52] #463 closed

[2022-06-08 21:53] M1chaelM commented on #69
Resolved with #208 but never closed. Now moot anyway because we no longer release Docker images with VRX compiled. This has been replaced with base images containing the correct dependencies, which are available in the [dockwater](https://github.com/Field-Robotics-Lab/dockwater) repository.

[2022-06-08 21:53] #69 closed

[2022-06-08 22:15] M1chaelM commented on #98
This issue references the old theory of operation document, which has been replaced by the paper [Toward Maritime Robotic Simulation in Gazebo](https://wiki.nps.edu/display/BB/Publications?preview=/1173263776/1173263778/PID6131719.pdf). It looks like the non-linear thruster model is still the same.

It looks like the journal papers are posted here:
* [RobotX 2016](https://robotx.org/programs/2016-

[2022-06-08 23:26] M1chaelM commented on #128
I agree. Closing this as a duplicate of #195

[2022-06-08 23:26] #128 closed

[2022-06-08 23:31] M1chaelM commented on #129
@caguero I propose to close this issue since we don't currently have an active request for this camera. Do you agree?

[2022-06-08 23:34] M1chaelM commented on #136
@bsb808 and @caguero Since it has been a couple of years now, I propose to outsource this task to the community. I will close it for now, and we can reopen it if we receive any reports that VRX is not running properly using the specs we provided.

[2022-06-08 23:34] #136 closed

[2022-06-08 23:44] M1chaelM commented on #151
This dependency was not needed and has been removed from the installation instructions.

[2022-06-08 23:44] #151 closed

[2022-06-09 17:04] M1chaelM commented on #162
![vrx_fog_placard_bug](https://user-images.githubusercontent.com/8611855/172903713-d7ac4805-5d60-46b1-9f10-ab5fa52e8b4d.png)
Confirming this problem still exists and also affects the new placards for VRX 2022. I propose we revisit this issue after the port to Gazebo Sim.

[2022-06-09 18:19] M1chaelM commented on #163
I can no longer reproduce this behavior. Running the example shows blue circles until the plugin instantiates, at which point they change to red circle and red cross. It may be that the problem was caused by the timing of publication of the placard symbols, as documented in issue #451 and resolved in PR #452. In any case, I think we can close this.

[2022-06-09 18:19] #163 closed

[2022-06-09 18:29] M1chaelM commented on #167
This seems like it might be more of a bug than an enhancement, if we are not correctly implementing our model.

[2022-06-13 06:55] huangzizhen opened #464 "when I run roslaunch vrx_gazebo vrx.launch get an error"
[code]
but i can not find this plugin in folder.  could  someone help me,  thanks !!!

[2022-06-13 21:45] M1chaelM commented on #346
After discussion we decided that the github-based submission process has value for helping students learn how to use collaborative development and version control tools. Closing.

[2022-06-13 21:45] #346 closed

[2022-06-13 21:49] M1chaelM commented on #399
@caguero I propose we address this as part of our re-organization of the documentation for VRX in general.

[2022-06-14 15:16] huangzizhen commented on #464
when i run this ```roslaunch vrx_gazebo vrx.launch ``` Gazebo can only show the ocean, not the coastline

[2022-06-14 18:08] M1chaelM commented on #235
@caguero This issue appears to be resolved. Can we close it before we begin the ignition migration?

[2022-06-14 18:26] M1chaelM commented on #235
@acxz No, we are still in the planning stages so there is no roadmap yet.

[2022-06-14 18:31] acxz commented on #235
Got it. I'd like to point out the following work that you may already be aware of: https://community.gazebosim.org/t/simulate-surface-waves-and-marine-vehicle-dynamics/1268

If this work could be reused and ultimately mainlined into Gazebo Sim that would be wonderful.

[2022-06-21 18:29] M1chaelM commented on #460
@acxz You are correct that buoyancy is calculated in two different locations, but this should not cause any duplicate calculation. Currently the `usv_gazebo_dynamics_plugin` calculates buoyancy for the USV only. The `buoyancy_gazebo_plugin` calculates the buoyancy for all other objects.

We may consider reorganizing so all buoyancy forces are calculated in the same place, but the main reason to do

[2022-06-21 18:33] M1chaelM commented on #235
Closing this issue because the original questions appear to be answered. Feel free to re-open if anything remains unresolved.

[2022-06-21 18:33] #235 closed

[2022-06-21 19:55] M1chaelM commented on #186
Verified this has been fixed in the following worlds:
* [x] vrx_gazebo/worlds/2019_practice/dock*.world
* [x] vrx_gazebo/worlds/2019_phase2/dock*.world
* [x] vrx_gazebo/worlds/xacros/dock.xacro
* [x] vrx_2019/worlds/dock.world.xacro
* [x] All private competition world yaml for 2019.
* [x] task_config/dock.yaml in the vrx-docker repository

I think the above list is exhaustive so I am closing this

[2022-06-21 19:55] #186 closed

[2022-06-21 22:09] acxz commented on #460
This would be much appreciated to maintain readability.

[2022-06-22 18:29] rmvanarse commented on #464
We were unable to reproduce this issue. The buoyancy plugin can be found in `vrx/usv_gazebo_plugins/src`.
Can you make sure that you have followed all the installation instructions and have sourced `vrx_ws/devel/setup.bash` in the terminal that you're using?

[2022-06-22 23:08] M1chaelM commented on #460
Ok, sounds good. Since the code is not duplicated or computed twice I will close this issue. Feel free to open another if you want to suggest an addition to the documentation.

[2022-06-22 23:08] #460 closed

[2022-06-22 23:28] acxz commented on #460
I was hoping this issue could be kept open until the BuoyancyPlugin is consolidated.

[2022-06-22 23:36] M1chaelM commented on #349
To fix this error in particular, we need to increment to `version="1.7"` for all sdfs that use the `short_navigation_course0` or the `obstacle_course` models. These are:

* [ ] /vrx_gazebo/worlds/xacros/gymkhana.xacro
* [ ] /vrx_gazebo/worlds/example_course.world.xacro
* [ ] /vrx_gazebo/worlds/gymkhana.world.xacro
* [ ] /vrx_gazebo/worlds/2022_phase2/gymkhana0.world
* [ ] /vrx_gazebo/worlds/2022_p

[2022-06-22 23:37] M1chaelM commented on #349
Generally, we may want to migrate everything to `sdf9` as part of release 2.0.

[2022-06-29 21:53] jasonnguyenn opened #465 "Tutorial for adding a custom vehicle"
Hello,
I'm new to the vrx environment and have been playing around with the codes in order to replace the wamv model with a model of my own. If I wanted to only replace the model with a mode of my own, how would I go about doing that? In addition, as far as the physics of the model goes, how would I manipulate the codes so that the model with present the 6 degrees of freedom (equations wise). If s

[2022-07-03 16:06] rmvanarse commented on #464
Since we could not reproduce this issue, we are closing it for now. Feel free to reopen this if you face any additional difficulty.

[2022-07-03 16:06] #464 closed

[2022-07-06 17:11] M1chaelM opened #468 "CI check failing with EACCESS error for noetic test image"
Our noetic test image seems to be failing all the time now during the Run actions/checkoutv2 step. The error given is:
[code]
This is failing for PRs that were previously passing and have not been modified. The melodic and kinetic test images continue to pass.

[2022-07-13 20:45] acxz opened #471 "plugins use features of c++17"
Portion of build log:
[code]

[2022-07-13 20:51] acxz commented on #426
I fully agree with @andrew-aj here, bearing is calculated clockwise from north.

From [wikipedia](https://en.wikipedia.org/wiki/Bearing_(angle)):

[2022-07-15 22:34] M1chaelM commented on #471
Hi, thanks for submitting an issue! In addition to the output you've posted, would you mind writing up a short narrative summary? It's helpful to include:
* The behavior you expect to see.
* The behavior you are getting.
* Steps to reproduce.

Thank you!

[2022-07-15 22:51] acxz commented on #471
Sure!

Successful compilation

Unsuccessful compilation

`catkin build vrx_gazebo`

Let me know if you need more information. Compiler is gcc 12.1.0.

[2022-07-15 23:03] M1chaelM commented on #465
Hi! Have you had a chance to look through the [tutorials](https://github.com/osrf/vrx/wiki/tutorials) on our wiki? The tutorials for [customizing VRX](https://github.com/osrf/vrx/wiki/customizing_vrx_tutorials), in particular, might be a good place to get started.

[2022-07-17 15:42] mzahana opened #476 "Tugboat simulation"
Hi!

Thanks a lot for this great project!

I am trying to simulate a tugboat in Gazebo  and found this project a great place to start.

Assuming that I have the urdf model of the tugboat with a single engine, I would like to know what needs to be modified in terms of plugins in order to have a good enough simulation in Gazebo with the Gazebo worlds provided in this repo.

Thanks.

[2022-07-17 23:30] mzahana commented on #434
Hi @Fran-FC !
I am planning to simulate a tugboat with a single engine, similar to what you mentioned. Are you able to implement the required model(s)?

[2022-07-18 17:56] M1chaelM commented on #471
Thanks. In my opinion, the key to reproducing this issue is to update gcc to a version that will give an error instead of a warning. Running `catkin build vrx_gazebo` will not produce this output if you've followed our installation instructions and are using a fresh installation of Ubuntu 20.04.

Consequently, I would describe this issue as follows:

* Currently, some plugins require features of C

[2022-07-18 18:22] acxz opened #477 "Add more features to Thruster Plugin"
This issue is a feature request to add specific features to our thruster plugin: https://github.com/osrf/vrx/blob/master/usv_gazebo_plugins/src/usv_gazebo_thrust_plugin.cc

These features are inspired by UUV's thruster plugin: https://github.com/uuvsimulator/uuv_simulator/blob/bfb40cb153684a0703173117b6bbf4258e8e71c5/uuv_gazebo_plugins/uuv_gazebo_plugins/src/ThrusterPlugin.cc

[ ] `mappingType` of

[2022-07-18 18:26] acxz commented on #471
My OS is Archlinux, where gcc 12 is available in the package repos.

[2022-07-18 19:35] M1chaelM commented on #471
OK, thanks. This is not supported, so in the future please be sure to note in any issues that you are using a non-standard set up that we may not be able to reproduce. If you'd like to use a supported setup, you can follow the installation instructions available on our Wiki: https://github.com/osrf/vrx/wiki/system_setup_tutorials

Of course, since you have already forked the repository, there's no

[2022-07-18 19:51] M1chaelM opened #478 "CI Workflow for Gazebosim"
* Current CI Workflow is for Gazebo Classic.
* It does not work for Gazebo Sim and does not support anything with ROS 2.
* This means everything in our gazebosim branch will fail CI.

To fix:
* [x] Create a new Docker image with dependencies to support Gazebosim.
* [x] Upload to Dockerhub.
* [x] Reference in our CI workflow.

[2022-07-20 15:10] M1chaelM commented on #476
Hi @mzahana .

Unfortunately, we don't yet have a step-by-step guide for customizing the physics of a new platform, but you might start by looking at this tutorial: https://github.com/osrf/vrx/wiki/changing_plugin_params_tutorial

Depending on what kind of fidelity you're looking for, you may want to customize plugins for hydrodynamics, thrusters and wind. It might also be helpful to refer to our

[2022-07-20 15:10] #476 closed

[2022-07-20 15:11] M1chaelM commented on #468
Resolved with #475

[2022-07-20 15:11] #468 closed

[2022-07-20 15:17] M1chaelM commented on #465
Issue #476 may also be relevant. It seems like we could use a step-by-step guide for adding a custom vehicle. I've modified the title of this issue to reflect that requirment.

[2022-07-20 19:38] acxz opened #484 "Offload usv_dynamics buoyancy calculation to BuoyancyPlugin"
Follow up of #460

It would great for readable and also extensibility if the buoyancy computation in the usv_dynamics_plugin (which is hardcoded for a two hull half cyclinder buoyant object) is replaced with the corresponding computation in the BuoyancyPlugin

[2022-07-22 16:55] M1chaelM opened #487 "Improve support for custom vehicles"
Currently we support the WAMV and CORA platforms. We have seen several requests for guidance on adding new vehicles. See:
* #434
* #465
* #476
* #472 (discussion)

This issue could be partially resolved with a detailed tutorial, as suggested in #465. However, some aspects of our vehicle model are currently hard-coded to match the WAMV design (e.g. two cylindrical hulls) and even our mono-hull CORA

[2022-07-23 05:05] acxz commented on #487
Thanks for putting up this list @M1chaelM.

Can you also add the following PRs which increase/correct the fidelity of the simulator?

- https://github.com/osrf/vrx/pull/427
- https://github.com/osrf/vrx/pull/466
- https://github.com/osrf/vrx/pull/485

[2022-07-23 05:12] acxz opened #488 "Add support for arbritary mesh geometries for buoyancy calculation"
Currently, buoyancy is computed as an approximation of the object into a box, cylinder, or sphere. However, for actual models such an approximation can be limiting. It would be nice, if an arbitrary mesh file (which is already used for the visuals) can be used for the buoyancy computation.

[2022-07-23 05:34] acxz commented on #487
I think this is evident based on the PRs submitted.

For sure

I would be willing to get on call with you to discuss the math behind the PRs

All PRs (Besides #427, #485, & #489) retain default values that do not change any behavior. The mentioned PRs fix the correct bearing, (if VRX competitors are using this quantity they would need to add a negative sign to maintain the original behavior in the

[2022-07-25 17:19] j-herman commented on #426
VRX defines the pinger bearing in the body frame of the WAMV, documented in the wiki: https://github.com/osrf/vrx/wiki/frame_conventions

[2022-07-25 18:43] acxz commented on #426
Thank you for taking a look at this issue! I don't think we have a disagreement on what frame the bearing is computed with respect to, but rather how VRX defines bearing.

Typically, it is considered a clockwise angle in the body frame. Would it be possible to update the documentation to clarify that the bearing is defined as counterclockwise in the body frame?

I think that would be sufficient to

[2022-07-25 19:34] j-herman commented on #426
@acxz Thanks for the comment!  There was a lot of discussion when this issue first came up as to whether we should make the change.  When we decided to stay with the REP, we added the wiki page to try to help with just that confusion - sounds like a good recommendation to make this easier to interpret for everyone.

[2022-07-26 18:50] M1chaelM commented on #478
Closed by #482

[2022-07-26 18:50] #478 closed

[2022-07-27 18:19] #457 closed

[2022-08-03 13:40] acxz opened #492 "Author name incorrect for buoyancy drag reference"
We reference Exact Buoyancy for Polyhedra by Erin Catto, however, the name we have is Eric instead of the proper Erin.

https://github.com/osrf/vrx/blob/5592bcbdd0f51672705f5e9cc8b6bfa906a4eaf0/usv_gazebo_plugins/src/buoyancy_gazebo_plugin.cc#L297

Reference: https://gameenginegems.net/gemsdb/article.php?id=403

[2022-08-03 13:48] acxz opened #494 "Wave visuals do not match wave model"
From various runs, it can be noticed that the visual of the water does not match the actual surface level of the water.

This discrepancy is barely noticeable at calm sea states, but still present.
When experimenting at aggravated sea states like the example @bsb808 tested [here](https://github.com/osrf/vrx/pull/485#issuecomment-1194831882) this visual discrepancy becomes much more apparent.

[2022-08-03 14:07] acxz opened #495 "Inconsistant fluid density"
Throughout the code, we have 3 or 4 different values that we use for the density of water. It would be best to consolidate the value of water density throughout the codebase.

I think it makes sense to use 1000 as the value to keep simulations relatively accurate but easy enough to work with.

[2022-08-03 17:31] #492 closed

[2022-08-21 07:01] SSROMEE opened #499 "how to use the gps as nothing in topic wamv/sensor/gps/gps/fix"

[2022-08-22 17:37] M1chaelM commented on #499
Hi! Could you please add an issue description? It would be helpful to include:
* Your system setup (OS, hardware, ros and gazebo version)
* What commands you're running.
* The behavior you expect.
* The behavior you're observing (including any relevant output or error messages).

If this issue relates to documentation please include a link to any relevant tutorials or pages on our [Wiki](https://g

[2022-09-01 21:52] bsb808 opened #507 "How to change wave parameters?"
## Scenario

Working on PR#500 and would like to test under wave conditions other then the default.

Consider the simple Sydney Regatta example: https://github.com/osrf/vrx/wiki/2023-running_vrx#the-sydney-regatta-environment

* How would one change the wave parameters for a higher seastate?

## What I tried

In the past we would change the `period` and `gain` parameters in the `ocean_waves` macro

[2022-09-08 23:37] caguero commented on #507
What you did is the right way to do it right now. You need to change it in all of those places. This will change when we register the parameters from a single place into a component. Then, all the other plugins will be able to read it using the component and the ECM.

[2022-09-08 23:43] bsb808 commented on #507
Roger - I'll leave the issue open for now so that we have a reminder to address when the time is right.
Thank you.

[2022-09-09 20:50] srmainwaring opened #509 "Alternative wave model example"
@bsb808, @caguero and @j-herman, as a follow up from our call about wave models I've created a demo using the sydney_regatta world. I forked the gazebosim branch and swapped the wave models out for the ones in [asv_wave_sim](https://github.com/srmainwaring/asv_wave_sim).

https://user-images.githubusercontent.com/24916364/189438132-ccc66f38-fa33-42eb-8257-58629201d1d4.mov

The example uses the non

[2022-09-13 19:58] M1chaelM opened #510 "VRX Scoring Plugins port Meta-Issue"
This meta-issue tracks progress on porting the VRX scoring plugins and related plugins from Gazebo Classic to the new Gazebo.

## Scoring Plugins:
* [x] Base plugin: @caguero
  * #501
  * #504
  * #505
  * #508
* [x] Stationkeeping: @j-herman
  * #502
* [x] Wayfinding: @M1chaelM
  * #506
* [x] Wildlife:@j-herman / @caguero
  * #527
  * #547
* [x] Perception: @caguero
  * #525
* [x] Gymkhana: @M1ch

[2022-09-13 20:02] #499 closed

[2022-09-13 23:02] M1chaelM opened #511 "Composite models in fuel"
Our navigation courses are composite models that contain an arrangement of buoys. For example, `short_navigation_course0` is made from 6 of the `mb_marker_buoy` models. These models are uploaded to ignition fuel, but when we add them to an sdf we are attaching the `vrx::PolyhedraBouyancyDrag` plugin to each one separately.

It should be straightforward to create a local model that uses the uploade

[2022-09-22 20:52] caguero opened #514 "Clean up the infrastructure from MBZIRC"
To bootstrap the migration to Gazebo we took some of the ROS 2 infrastructure from the [MBZIRC project](https://github.com/osrf/mbzirc). However, there are still some leftovers from MBZIRC that we don't need or they don't apply in VRX. We need to go over the project files and refactor a bit that infrastructure code.

[2022-09-22 20:57] caguero opened #515 "Add components to the WAM-V"
Right now, we can launch the Sydney Regatta and a basic WAM-V equipped with thrusters but no sensors or extra actuators. We'll need to port the optional component suite from Gazebo classic to Gazebo. [Here](https://github.com/osrf/vrx/tree/master/wamv_gazebo/urdf/components)'s the place where we had the components in Gazebo classic.

We'll also need to evaluate if all the sensor plugins are availa

[2022-09-22 21:00] caguero opened #516 "Make the WAM-V configurable"
VRX (Gazebo classic) supported the notion of selecting different thruster configuration, as well, as component options. The components include sensors and actuators such as the ball shooter. We need to port this functionality to Gazebo.

[2022-09-23 14:59] caguero opened #517 "Add PBR support"
Add PBR support to the next elements:

* [x] WAM-V
* [x] WAM-V accessories
* [ ] ~~Sydney Regatta world~~
* [x] Buoys
* [x] Dock

** New Pier **
As time allows, low-fidelity model of pier environment: see: https://www.islapedia.com/index.php?title=File:Pier_at_Wilson_Cove.jpg and here is the lat/lon for google maps: `32.98075230400008, -118.53812863389945`

[2022-09-23 15:28] caguero opened #518 "2.0.0 release meta-issue"
* [x] Port all plugins: #510
* [x] #514
* [x] #515
* [x] #516
* [x] #517
* [x] Update the documentation/wiki
* [ ] ~~Update the vrx-docker scripts~~
* [x] Changelog
* [x] Tag the repository
* [x] Announcements

[2022-09-29 07:20] SSROMEE opened #521 "Gazebo always end in 5:19"
this puzzled me for long, hop the author can help me
![1664435623(1)](https://user-images.githubusercontent.com/98152870/192965759-84c1cc36-cae3-4f60-8a65-9270e951e07f.png)

[2022-10-03 15:20] M1chaelM commented on #521
A first guess is that you may be running a competition scoring plugin, which times out and terminates the simulation. Are you running one of the launch files associated with a competition task, or a file that you created based on one of those files?

If the above seems unlikely, please post the instructions for reproducing this situation.

[2022-10-12 22:08] M1chaelM commented on #521
Closing for now. Feel free to re-open if the issue persists.

[2022-10-12 22:08] #521 closed

[2022-10-12 22:15] M1chaelM opened #528 "delays printing to the console with `gzmsg` and `gzdbg`"
Messages printed using `gzmsg` and `gzdbg` often do not display to the console right away. This is inconvenient because we often expect them to give the user real-time information about the simulation. For example, we display a message when the WAMV crosses a gate in the navigation plugin. We also display messages when the simulation enters the OnReady, OnRunning, and other states.

These messages

[2022-10-13 18:09] M1chaelM commented on #528
Correction: per @iche033 's comment on PR #513 , this can be fixed by adding std::flush on a separate line.
[code]
So we just need to add these where appropriate.

[2022-10-18 02:59] mazik1496 opened #533 "Autonomous driving using Wam-v's camera"
hello. I have a question, so I'm posting it here.
I would like to implement an autonomous driving code that bypasses the object in front when it recognizes an object in front using the camera of wam-v in the ROS gazebo.
However, in the case of open source code, there is no autonomous driving code, so I would like to ask if it is possible to implement autonomous driving code with wam-v's camera. An

[2022-10-25 04:45] mazik1496 opened #534 "How to view image_raw with opencv"
Using the vrx open source example, we are going to output the image that comes out through the image_raw topic to opencv. I implemented the code, but only a black screen is output and no proper video is displayed. I want to ask how to solve this.

`#!/usr/bin/env python3
import rospy
from sensor_msgs.msg import Image
from cv_bridge import CvBridge, CvBridgeError
import cv2
bridge_object = CvBridge

[2022-10-28 08:22] caguero commented on #534
Sorry but this is more an OpenCV question than a VRX issue.

[2022-10-28 08:22] #534 closed

[2022-10-28 08:23] caguero commented on #533
Sorry but this is an unrelated VRX issue.

[2022-10-28 08:23] #533 closed

[2022-11-01 07:24] cyijie opened #536 "How is the ground raised in the map？"
In vrx_gazebo, I want to raise the land part or lower the water level. To better enable the USV's liDAR to scan the river banks. How should I set up the map?

Thanks for your help！！！！

[2022-11-10 03:27] mazik1496 opened #538 "How do i turn off the wave?"
https://github.com/osrf/vrx/blob/master/wave_gazebo/world_models/ocean_waves/model.xacro

I use ubuntu 20.04 noetic

I'm in the process of controlling the movement of a ship through a basic example of vrx through roslaunch vrx_gazebo vrx.launch.

All parameters in lines 28 to 30 of the link above have been modified to 0. Nevertheless, there was no change in wave motion.
How can I get rid of wave m

[2022-11-10 14:31] KonradUr opened #539 "[Garden+Humble] How do you turn the wam-v propeller?"
Hi, I am trying to get control of a vessel. Installing the system was OK. I can start it using:
`ros2 launch vrx_gz competition.launch.py world:=sydney_regatta`

It generates the world correctly.
Now I’m trying to move the right thruster:
`ros2 topic pub --once /wamv/thrusters/right/pos std_msgs/msg/Float64 "data: 1.0"`

It works, but when I try to switch on the propeller spinning it fails:
`ros2

[2022-11-17 00:39] M1chaelM commented on #528
Closing since the fix above is working.

[2022-11-17 00:39] #528 closed

[2022-11-23 09:00] mazik1496 opened #544 "Another usv falls through the ground"
Instead of vrx's example, I'm going to use another usv. So, I created a separate package, created a urdf file for it, and executed a launch file that opened it in gazebo's vrx environment. However, it was confirmed that the model could be loaded, but it continued to fall down. Can you tell me what is the solution for this?

Source code is here
1. urdf
`<?xml version="1.0"?>
<robot name="1kw" xmlns

[2022-11-23 13:08] kizilkayabayram commented on #539
Did you to set locked to false inside the file ```/vrx_gz/src/vrx_gz/model.py``` ?
Should be something like this

[code]

[2022-11-23 19:15] M1chaelM opened #545 "WAMV is not locking before OnRunning"
For many of the tasks ported to gazebosim, the WAMV does not lock properly and can move during the OnReady state. This is definitely the case for the navigation and gymkhana tasks. I will check whether the lock is working for any tasks and update this issue.

[2022-11-23 20:14] M1chaelM opened #546 "Gymkhana Plugin does not register collisions"
Collisions were added in #502 but don't seem to be showing up during the gymkhana task for some reason.

[2022-11-25 17:27] caguero commented on #546
#547 should fix it. For some reason this [instruction](https://github.com/osrf/vrx/pull/504/files#diff-b72325551bead843ffdc7af5741a423673774b4e3db164a5721693d4f3a6fbceR411-R412) was removed.

[2022-11-28 04:59] mazik1496 opened #548 "The custom usv doesn't seem to have buoyancy applied"
![스크린샷, 2022-11-22 16-30-38](https://user-images.githubusercontent.com/80936392/204197213-c9b0095b-32d9-4b6d-9c0c-7939b69d5c10.png)

I want to operate the USV like the picture above in the vrx environment. So, I created urdf.xacro, gazebo.xacro and launch files for this, but it is loaded into the environment in vrx, but buoyancy is not applied, so the phenomenon of continuing to sink occurs. Even

[2022-11-29 21:00] bsb808 commented on #538
Have you tried the two options in this tutorial for the "Flat ocean example"? - https://github.com/osrf/vrx/wiki/changing_wave_params_tutorial

I just verified that both methods work on my setup.

Make sure to run `catkin_make` after making any edits to xacro files.

Also, for option 1 in the tutorial above, change only the `gain` parameter to `0.0` and leave the other values as is.   I'm not sure

[2022-11-29 21:41] caguero commented on #548
Hi @mazik1496 . Probably what's happening is that your model doesn't have the buoyancy plugin attached. You can do that by calling the xacro macro `usv_dynamics_gazebo` declared [here](https://github.com/osrf/vrx/blob/master/wamv_gazebo/urdf/dynamics/wamv_gazebo_dynamics_plugin.xacro).

And [here's](https://github.com/osrf/vrx/blob/master/wamv_gazebo/urdf/dynamics/wamv_gazebo_dynamics_plugin.xacro

[2022-11-29 21:46] caguero commented on #544
See my answer [here](https://github.com/osrf/vrx/issues/548).

[2022-11-29 21:46] #544 closed

[2022-11-29 21:55] caguero commented on #539
Could you verify the version of `libgz-sim7` installed in your system? You should have `7.1.0` or later. If you compiled from source, you should have a version from [this commit](https://github.com/gazebosim/gz-sim/commit/a738dec47ae4f5c18f48a6d4d4b0edb500a490fa) at least (merged November 2nd).

[2022-11-30 04:02] mazik1496 commented on #548
@caguero I used usv_dynamics_gazebo. but my model doesn't have the buoyancy plugin attached.

[2022-11-30 21:23] caguero commented on #548
I didn't see it in the xacro code you shared in https://github.com/osrf/vrx/issues/544